html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.esri-ui .esri-editor .esri-item-list__scroller {
  max-height: 390px;
}


.esri-editor .esri-item-list__scroller {
  max-height: 350px;
  height: 600px;
}

.esri-widget--panel {
  height: 600px;
}

.esri-item-list__scroller {
  height: 350px;
  max-height: 350px;
}