.input-number {
  border: none;
  border-width: 0px;
  width: 50px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

#input-date {
  border: none;
  border-width: 0px;
  width: 250px;
  padding: 5px;
  text-align: left;
  font-weight: bold;
  font-size: large;
  background-color: lightgrey;
  color: darkgray;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.footer {
  margin-top: 10px;
  background-color: lightgrey;
  border: 1em;
  border-color: darkgray;
}

.tab-pane {
  height: 230px;
}