/* Fonts */

@font-face {
  font-family: 'HelveticaNeue';
  src: url('fonts/helveticaneue.eot');
  src: url('fonts/helveticaneue.eot?#iefix') format('embedded-opentype'),
       url('fonts/helveticaneue.woff') format('woff'),
       url('fonts/helveticaneue.ttf') format('truetype'),
       url('fonts/helveticaneue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'HelveticaNeueUltraLight';
  src: url('fonts/helveticaneueultralight.eot');
  src: url('fonts/helveticaneueultralight.eot?#iefix') format('embedded-opentype'),
       url('fonts/helveticaneueultralight.woff') format('woff'),
       url('fonts/helveticaneueultralight.ttf') format('truetype'),
       url('fonts/helveticaneueultralight.svg#HelveticaNeueUltraLight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
font-family: 'Steelfish';
src: url('fonts/steelfish-webfont.eot');
src: url('fonts/steelfish-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/steelfish-webfont.woff') format('woff'), url('fonts/steelfish-webfont.ttf') format('truetype'), url('fonts/steelfish-webfont.svg#steelfish_rgregular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Arkitech';
src: url('fonts/ArkitechRoundLight.ttf');
}

html,
body {
padding: 0;
margin: 0;
width: 100%;
height: 100%;
color: rgba(255, 255, 255, 0.75);
background-color: #000000;
font-family: 'HelveticaNeue', 'Arial', sans-serif;
}

/* FLAT */

:focus {
outline: none;
}

/* LOADING */

.loading-indicator {
display: none;
height: 100%;
width: 100%;
z-index: 500;
position: absolute;
top: 0;
left: 0;
overflow: hidden;
background-color: #000000;
text-align: center;
line-height: 400px;
}

.app-loading .loading-indicator,
.app-error .loading-indicator {
display: block;
}

.app-loading .loading-indicator {
background-position: center center;
background-image: url(../images/loading.gif);
background-repeat: no-repeat;
}

.app-error .loading-message {
background-position: top center;
background-image: url(../images/error.png);
background-repeat: no-repeat;
padding-top: 60px;
width: 100%;
position: absolute;
z-index: 2;
top: 40%;
left: 0;
text-align: center;
}


/* ESRI */

.esri-popup {
display: none !important;
}

.esri-attribution {
display: none;
}

.esri-zoom .esri-button {
width: 30px;
height: 30px;
line-height: 30px;
border: none;
outline: none;
font-size: 12px;
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
border-radius: 0px !important;
-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
-o-border-radius: 0px !important;
-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.esri-widget-button {
width: 30px;
height: 30px;
line-height: 30px;
background-color: #000000;
color: #fff;
}

.esri-widget-button:hover {
background-color: #333333;
color: #fff;
}


/* COMMON */

.shadow {
-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.left {
float: left;
}

.right {
float: right;
}



/* MAIN */

#panelView {
position: absolute;
width: 100%;
height: 100%;
display: block;
}

#btnSpin {
position: absolute;
top: 80px;
left: 15px;
width: 30px;
height: 30px;
display: block;
background-color: #000000;
display: block;
background-position: center center;
background-repeat: no-repeat;
background-size: 24px;
background-image: url(../images/spin.png);
cursor: pointer;
}


/* BOTTOM */

#panelBottom {
position: absolute;
right: 15px;
bottom: 15px;
width: 320px;
height: 480px;
color: #ffffff;
background-color: rgba(0, 0, 0, 0.5);
overflow: hidden;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.closed {
height: 50px !important;
}

#panelColor {
position: absolute;
width: 100%;
height: 100%;
background-color: #000000;
opacity: 0.5;
display: block;
}

#inner {
position: absolute;
left: 10px;
right: 10px;
top: 10px;
bottom: 10px;
text-align: right;
}

#title {
position: absolute;
width: 100%;
height: 30px;
line-height: 33px;
font-size: 24px;
font-family: 'HelveticaNeue';
}

#toggle {
float: right;
margin: 4px 0px 4px 8px;
width: 20px;
height: 20px;
line-height: 20px;
border: 1px solid #ffffff;
border-radius: 11px;
background-color: rgba(0, 0, 0, 0.1);
cursor: pointer;
display: block;
font-size: 14px;
text-align: center;
}

#panelSearch {
position: absolute;
top: 40px;
right: 0px;
width: 300px;
height: 30px;
line-height: 30px;
display: block;
color: #ffffff;
background-color: rgba(0, 0, 0, 0.5);
}

.esri-widget .esri-menu {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.85);
}

.esri-widget .esri-menu li:active,
.esri-widget .esri-menu li:hover, 
.esri-widget .esri-menu li:focus {
  color: #fcfcfc;
  background-color: rgba(0, 0, 0, 1);
}

::-webkit-input-placeholder { 
color: #acacac !important;
}
::-moz-placeholder { 
color: #acacac !important;
}
:-ms-input-placeholder { 
color: #acacac !important;
}
:-moz-placeholder { 
color: #acacac !important;
}
::placeholder {
color: #acacac !important;
}

#panelDistance {
position: absolute;
top: 80px;
right: 0px;
width: 300px;
height: 30px;
display: block;
}

#slider {
width: 100%;
height: 20px;
line-height: 20px;
display: block;
}

#labels {
position: absolute;
width: 100%;
bottom: 0px;
height: 10px;
line-height: 10px;
font-size: 10px;
}

.left {
float: left;
text-align: left;
}

.right {
float: right;
text-align: right;
}

.dijitSliderBar {
border-style: none;
border-color: transparent;
background-color: rgba(0, 0, 0, 0.3);
cursor: pointer;
-webkit-tap-highlight-color: transparent;
}

.dijitSliderImageHandle {
margin: 0;
padding: 0;
position: relative !important;
border: 8px solid #ffffff;
width: 0;
height: 0;
border-radius: 8px;
cursor: pointer;
-webkit-tap-highlight-color: transparent;
}

#subtitle {
position: absolute;
top: 120px;
width: 100%;
height: 20px;
line-height: 20px;
font-size: 15px;
font-family: 'HelveticaNeueUltraLight';
}

.big {
font-family: 'HelveticaNeue';
}

#odometer {
position: absolute;
right: 0px;
top: 150px;
width: 100%;
height: 110px;
line-height: 110px;
font-size: 110px;
font-family: 'HelveticaNeue';
/*font-family: 'Arkitech';*/
}

#panelChart {
position: absolute;
right: 0px;
top: 250px;
width: 300px;
height: 200px;
display: block;
}

.esri-chart-tip .name {
  color: #ffffff;
  font-size: 16px;
}

.ct-series-a .ct-area {
fill: white !important;
}

.ct-series-a .ct-line {
stroke: white !important;
}

.ct-series-a .ct-point {
stroke: white !important;
stroke-width: 3px;
}

.ct-series-a .ct-pulse {
transform-box: fill-box;
  -webkit-transform-box: fill-box;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-timing-function: cubic-bezier(0,.54,.53,1);
  -webkit-animation-duration: 2s;
  -webkit-animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
  -webkit-animation-timing-function: cubic-bezier(0,.54,.53,1);
}

@keyframes pulse {
  0% {
      opacity: 1;
      transform: scale(0.00);
  }
  100% {
      opacity: 0.2;
      transform: scale(13);
  }
}

.ct-label {
  fill: rgba(255, 255, 255, 0.7) !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

#credits {
position: absolute;
top: 450px;
width: 100%;
height: 10px;
line-height: 10px;
font-size: 10px;
font-family: 'HelveticaNeueUltraLight';
color: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 400px) {
#panelBottom {
  right: 0px;
  bottom: 0px;
}
}




